.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: block;
}

@media (min-width: 768px) {
    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }
}

.col-bg-img-one.ttm-col-bgimage-yes .ttm-col-wrapper-bg-layer {
    background-image: url('/images/illustrations/question-mark-04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}

/* I want .media-container to display two rows of 5 elements each. Each child, labelled as .media-item, has an img inside that should be responsive and no wider than 5em */

/* Make .media-container to be two rows of 5 elements */
@media (min-width: 768px) {
    .media-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2em;
    }
}

.media-container .media-item {
    display: flex;
    min-width: 9em;
    height: auto;
    justify-content: center;
    align-items: center;

}

/* On mobile devices, .media-item should be a grid of 2 per row */

@media (max-width: 768px) {
    .media-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: 5em;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 1.5em;
    }
}

.media-container .media-item:hover {
    transform: scale(1.1);
}

.media-container .media-item img {
    width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.carousel {
    width: 100vw;
}

/* Ripple Effect */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
  
.ripple:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, rgba(255, 255, 255, 0) 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(0, 0);
    opacity: 0.5;
    transition: transform 0.5s, opacity 1s;
}
  
.ripple:active:before {
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0s, opacity 0.5s;
  }